<div class='footer'>
  <div class='footer-contents'>
    <div class='footer-details'>
      <ul class="footer-menu">
      <h2 class='footer-content-head'>〇〇町役場</h2>
      <ul>
        <li class="footer-content">
        <li>〒123-4567</li>
        <li>神奈川県〇〇町〇〇2-1-3</li>
        <li>連絡先: <%= link_to '0123-45-6789', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%#= link_to image_tag("furima-logo-white.png", class:"logo-white"), "#" %>
  <ul>
      <%= link_to 'HOME', root_path %>
  </ul>
  <p>© 〇〇町民センター</p>
</div>