<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>HOME</p>
    <p class='second-fotter-text'>クラブ/講座</p>
    <p class='second-fotter-text'>予約</p>
  </div>
  <%#= image_tag "furima-logo-color.png", class:"second-fotter-logo"%>
</footer>